@mixin container {
  max-width: 1024px;
  margin: auto;
  padding: var(--padding-container);
}

@mixin d-flex-fd-ai-jc-g($flex-direction: row, $align-items: stretch, $justify-content: stretch, $gap: 0) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin button($padding: 0.5rem 1rem, $font-weight: 700, $border-radius: 0.5rem) {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: $padding;
  font-weight: $font-weight;
  border-radius: $border-radius;
  transition: var(--all-transitions);

  &--active,
  &:hover {
    background-color: var(--button-color-active);
    color: var(--button-text-color-active);
  }
}

@mixin decorator($top: 0, $left: 0, $width: 100%, $transform: translate(-50%, -50%)) {
  display: flex;
  position: absolute;
  z-index: -1;
  top: $top;
  left: $left;
  width: $width;
  transform: $transform;
  margin: 0;
}

@mixin desktop() {
  @media (min-width: 854px) {
    @content;
  }
}

.hero {
  @include d-flex-fd-ai-jc-g(row, center, center, 0);
  position: relative;
  min-height: 100vh;

  &__message {
    @include d-flex-fd-ai-jc-g(column, stretch, center, 1rem);
    text-align: center;

    @include desktop() {
      text-align: start;
      gap: 2rem;
    }
  }
  &__message-title {
    font-weight: 800;
    margin: 0;
  }
  &__message-subtitle {
    font-weight: 400;
    margin: 0;
  }
  &__message-paragraph {
    display: none;
    @include desktop() {
      font-weight: 300;
      margin: 0;
    }
  }
  &__message-shopping-container {
    @include d-flex-fd-ai-jc-g(row, center, center, 2rem);

    @include desktop() {
      justify-content: stretch;
    }
  }
  &__message-cheapest-price-container {
    @include d-flex-fd-ai-jc-g(column, flex-start, center, 0);
  }
  &__message-cheapest-price {
    &--normal {
      color: var(--shadow-color);
      text-decoration: line-through;
      font-weight: 500;
    }
    &--offer {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  &__message-buy-button {
    text-decoration: none;
    font-size: 1.125rem;
    @include button(1rem 1.5rem, 800, 1.5rem);
  }
  &__figure {
    display: flex;
  }
  &__figure-image-container {
    display: flex;
    max-width: 256px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;

    @include desktop() {
      max-width: 640px;
    }
  }
  &__figure-image {
    width: 100%;
  }
  &__rise-container {
    @include decorator($top: 0, $left: 0, $width: 50%, $transform: translate(-50%, -50%));
    @include desktop() {
      @include decorator($top: -5%, $left: 5%, $width: 25%, $transform: translate(-50%, -50%));
    }
  }

  &__rise {
    width: 100%;
  }

  &__arrow-container {
    @include decorator($top: 50%, $left: 10%, $width: 50%, $transform: translate(-50%, -50%));
    @include desktop() {
      @include decorator($top: 100%, $left: 10%, $width: 50%, $transform: translate(-50%, -50%));
    }
  }

  &__arrow {
    width: 100%;
  }

  &__bubbles-container {
    @include decorator($top: 50%, $left: 105%, $width: 50%, $transform: translate(-50%, -50%) rotate(180deg));
    @include desktop() {
      @include decorator($top: -5%, $left: 50%, $width: 25%, $transform: translate(-50%, -50%) rotate(90deg));
    }
  }

  &__bubbles {
    width: 100%;
  }

  &__blob-container {
    @include decorator($top: 100%, $left: 50%, $width: 100%, $transform: translate(-50%, -50%));
    @include desktop() {
      @include decorator($top: 80%, $left: 100%, $width: 100%, $transform: translate(-50%, -50%));
    }
  }

  &__blob {
    width: 100%;
  }

  &__asterisk-container {
    @include decorator($top: 100%, $left: 50%, $width: 50%, $transform: translate(-50%, -50%));
    @include desktop() {
      @include decorator($top: 80%, $left: 100%, $width: 50%, $transform: translate(-50%, -50%));
    }
  }

  &__asterisk {
    width: 100%;
  }
}
.hero-container {
  @include d-flex-fd-ai-jc-g(column, center, center, 2rem);
  @include container();

  @include desktop() {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.main {
  @include d-flex-fd-ai-jc-g(column, stretch, stretch, 0);
}
